.AppLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.AppMain {
    flex: 1;
}

.Logo img {
    height: 40px;
    width: auto;
    border-radius: 6px;
}

.AppHeader{
    /* background-color: #f9fbfd;  */
    padding: 1px 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.userInfo{
    display: flex;
    align-items: center;
    gap: 16px;
}

.userIconUserDetails-wrapper {
    position: relative;
    display: inline-block;
}

.userDetails {
    position: absolute;
    top: 100%; /* directly below the icon*/
    right: 0; /* align right edge */
    margin-top:8px;
    /* background-color: cornsilk; */
    
    z-index: 1000;
}

.login-signup-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 5px;
}

.userInitial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-weight: 800;
    font-size: large;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #e4b2fd;
    background-color: #6c63ff;
    cursor: pointer;
}

.logOutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.logOutIcon {
    width: 24px;
    height: 24px;
}

.logOutButton:hover{
    color:#6c63ff;
    /* transform: scale(1.1); */
    animation: ease-in-out 0.2s;
    cursor:pointer;
}

.AppFooter{
    display:flex;
    justify-content: center;
    align-items: center; 
}

.MainContainer{
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    min-height: 80vh;
    background-color: #F8FAFC;
    
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px; 
    margin: 20px;
}

