.filter-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  z-index: 10;
  padding: 8px 16px;
  min-width: 150px;
}

.filter-option{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.filter-option input{
    margin-right: 8px;
}

.filter-dropdown-btn{
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 5px;
}

.filter-dropdown-btn:hover{
    background-color: #f0f0f0;
} 
