.NewProjectButton{
    display: flex;
    /* box-sizing: border-box; */
    border-radius: 8px;
    margin-left: 10px ;
    padding: 8px 12px;
    background-color: #3B82F6;
    border: none;
    color: white;
}

.NewProjectButton:hover{
    background-color: #2563EB;
    cursor: pointer;
}   