.SortWrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 10;
  padding: 4px;
  display: flex;
  align-items: center;
  /* min-width: 100px; */
}

.sort-icon{
    margin-top: 2px;
}
.sort-dropdown {
  border: none;
  /* min-width: 0px; */
  /* border: 2px solid green; */
  width:100px;
  padding-right: 5px;
}

.sort-dropdown:focus {
  outline: none;
}

