.login-signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    border-radius: 10px;
    padding: 20px;
}

.toggle-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toggle-icon {
    font-size: 50px;
}


/* login Signup Form Styles goes here */

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    min-width: 500px;
    min-height: 400px;
    margin: 10px;
    background-color: #eaf6ff;
    border-color: blueviolet;
}

.loginForm, .signUpForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-group input {
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Form Styles on smaller devices */
@media (max-width: 600px) {
    .formContainer{
        min-width: 300px;
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .formContainer{
        min-width: 200px;
        padding: 10px;
    }
}


